<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/checkbox.css">
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= edit._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="<%= edit.title %>" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="location" value="<%= edit.location %>"
                        required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" placeholder="0.00"
                            aria-label="Amount (to the nearest dollar)" id="price" name="price"
                            value="<%= edit.price %>" required>
                        <div class="valid-feedback">
                            Looks good
                        </div>
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="description"><%= edit.description %> required></textarea>
                    <div class="valid-feedback">
                        Looks good</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Add Images</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3">
                    <p>Remove Images</p>
                    <div class="container">
                        <div class="row">
                            <% edit.images.forEach(function(img, i) { %>
                                <div class="col-md-4 mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="<%= img.filename %>"
                                            name="deleteImages[]" id="cb<%= i %>">
                                        <label class="checkbox-label form-check-label" for="img1"
                                            style="background-image: url('<%= img.thumbnail%>')"></label>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>

                <div class="mb-3"><button class="btn btn-info">Update Campground</button></div>

            </form>
            <a class="btn btn-danger" href="/campgrounds/<%= edit._id %>">Cancel</a>
        </div>
    </div>