<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <div class="row mb-5">
        <div class="col-6">
            <div class="card">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <% let counter=1 %>
                            <% for(let img of show.images) { %>
                                <div class="carousel-item <% if(counter === 1) {  %>
                                active
                            <% } %> ">
                                    <img src="<%= img.url %>" class="d-block w-100" alt="Photo">
                                </div>
                                <% counter++ %>
                                    <% } %>
                    </div>
                    <% if (show.images.length> 1) { %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>

                </div>

                <div class="card-body">
                    <p class="card-text my-0">
                    <p class="my-0"><span class="fs-4">
                            <b>
                                <%= show.title %>
                            </b>
                        </span></p>
                    <%= show.description %>
                        </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="text-secondary it">
                            <i>
                                <%= show.location %>
                            </i>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span>
                            Author: <%= show.author.username %>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span>
                            <%= show.price %>$/night
                        </span>
                    </li>
                </ul>
                <div class="card-body  d-flex">
                    <a href="/campgrounds" class="card-link btn btn-warning">Go back</a>
                    <% if (currentUser && currentUser.equals(show.author)) { %>
                        <a href="/campgrounds/<%= show.id%>/edit" class="card-link btn btn-info">Edit</a>
                        <div class="card-link">
                            <form action="/campgrounds/<%= show.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>
                </div>

            </div>

        </div>
        <div class="col-6">
            <% if (!currentUser) { %>
                <h4 class="text-secondary it"><i><a href="/login"
                            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Login</a>
                        to leave a review?</i>
                </h4>
                <% } else { %>
                    <h2 class="mb-3">Leave a Review</h2>
                    <form action="/campgrounds/<%= show.id %>/reviews" method="POST" class="mb-3 validated-form"
                        novalidate>
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="3" checked
                                aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                        <div class="mb-3">
                            <label class="form-label" for="review">Review</label>
                            <textarea class="form-control" name="review" id="review" cols="30" rows="3"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                        <button class="btn btn-success">Sumbit</button>
                    </form>
                    <% } %>
                        <% for(let review of show.reviews) { %>
                            <div class="card mb-3 ">
                                <div class="card-body">
                                    <h5 class="card-title d-flex">
                                        <%= review.author.username %>
                                            <h6 class="starability-result" data-rating="<%= review.rating %>">
                                                Rated: <%= review.rating %> stars
                                            </h6>
                                    </h5>

                                    <p class="card-text">Review: <%= review.review %>
                                    </p>
                                    <% if (currentUser && currentUser.equals(review.author) ) { %>
                                        <div class="d-flex">
                                            <div class="card-link">
                                                <form
                                                    action="/campgrounds/<%= show.id %>/reviews/<%= review.id %>?_method=DELETE"
                                                    method="POST">
                                                    <button class="btn btn-sm btn-danger">Delete</button>
                                                </form>
                                            </div>

                                        </div>
                                        <% } %>
                                </div>
                            </div>

                            <% } %>





        </div>
    </div>